[2014-09-12 02:06] patsimon opened #2 "Long file name issues"
I have been following the instruction and have got up to a point where it fails due to long file names our our dependencies.

Is there an option where we can set the "longFileMode" for the TarArchiveOutputStream class that the plugin uses?

[code]

[2014-09-12 05:03] patsimon opened #4 "Attempts to create slug and upload for every sub project"
Our project Build.scala file has multiple subprojects (3 all up) one of which is defined as the rootProject.

This plugin (sbt-heroku) appears to Create and Upload a slug for each project where as it should just be creating and uploading the rootProject (which will in turn include the other subproject)

[2014-09-16 18:49] #2 closed, assigned to nobody

[2014-09-18 03:40] jkutner opened #6 "Support multiple environments"
Currently, the only way to deploy to multiple environments (i.e. dev, test and prod) is through system properties, like this:

[code]
and then running

[code]
However, it would nice to have a more natural approach that easily allows for multiple environments to be configured. I would love suggestions on how this might look.

[2014-10-31 09:22] rtyley opened #8 "system.properties doesn't seem to make it into the slug"
Deploying by git-push, the Java 1.8 setting I define in `system.properties` is respected, and I can verify that the app is indeed running under that Java version.

Unfortunately, when deploying by sbt-heroku, the setting is not respected, and I see `UnsupportedClassVersionError`s like this in `heroku logs`:

[code]

I'm running locally with Java 1.8, and so when sbt-heroku prepares my slug locally

[2014-10-31 13:01] #8 closed, assigned to nobody

[2014-12-09 16:33] mslinn opened #9 "This project does not seem to be cross-built for Scala 2.11"

[2014-12-11 20:41] #9 closed, assigned to nobody

[2015-01-05 14:10] jkutner opened #10 "Add a built-in console process type"
The plugin should create a built-in process type for running `sbt console`. Currently, the `heroku run sbt console` command [as describe in this article](https://devcenter.heroku.com/articles/running-a-remote-sbt-console-for-a-scala-or-play-application) will not work.

[2015-01-16 14:25] jkutner opened #11 "Include with_jmap and with_jstack scripts"
So it can be used like this:
https://devcenter.heroku.com/articles/java-memory-issues#generating-thread-dumps

[2015-01-19 18:26] danielkza commented on #10
The SBT libraries are not included in the staged package, and neither is the SBT configuration from your project, unlike the traditional Heroku workflow. It's possible adding files manually can work, but you'd likely end up doing more work than simply using Heroku directly.

[2015-01-19 19:37] jkutner commented on #10
Yea, that would be a pain. But it's also possible to start a non-sbt console for an app that is staged with sbt-native-packager 0.7.6 or newer. The resulting command would be a `heroku run console` that executed something like:

[code]

[2015-01-29 20:49] jkutner commented on #10
Added a branch for this:
https://github.com/heroku/sbt-heroku/tree/console

[2015-02-04 21:25] #10 closed

[2015-02-04 22:02] jkutner commented on #11
Fixed by upgrading to heroku-deploy 0.3.2

[2015-02-04 22:02] #11 closed

[2015-02-05 17:37] danielkza commented on #6
Using sbt-git you can get something pretty nice based on which branch is currently checked out. I use something like this:

plugins.sbt
[code]

build.sbt
[code]

[2015-02-05 22:54] jmaynier opened #12 "Commit version"
Since the slug is compiled locally then pushed, there is no git commit version displayed in the activity tab on heroku dashboard, which is usefull to know which version is deployed.
Is there a way to convey this information via the heroku deploy api ?

[2015-02-06 01:39] jkutner commented on #12
I've added this in heroku-deploy: https://github.com/heroku/heroku-maven-plugin/commit/8adf1366922a3bed3a278cb40455e45b84e6670c

sbt-heroku will take up this version in the 0.3.3 release... probably in a day or two.

[2015-02-10 16:34] jkutner commented on #6
@danielkza nice! i really like that solution. I'm going to add it to the docs, and close this ticket. Thanks!

[2015-02-10 16:34] #6 closed

[2015-02-10 17:40] #4 closed

[2015-02-10 19:54] jkutner commented on #12
Should be fixed now. Let us know if it's not working they way you expected.

[2015-02-10 19:54] #12 closed

[2015-02-16 21:26] alternegro opened #13 "App will not connect to DB perhaps because of ENV/conf vars"
After deploying with the plugin, my app crashes on startup because it cannot connect to the postgres database. My app reads the db connection info from an environment specific config file that is set in the Procfile with "-Dconfig.resource=${PLAY_CONFIG_FILE}"
Is there a step I'm missing that prevents this setup that worked using the git deploy from working with the deployPlugin?

[2015-02-16 21:52] 1indsay commented on #13
In the documentation :

[code]

You can add your resource this way:
[code]

[2015-02-16 22:01] jkutner commented on #13
You can define process types in the `build.sbt` as @1indsay points out. But as long as you are using sbt-heroku version 0.3.x, then it should pick up your Procfile too.

What is the path of the value set for `PLAY_CONFIG_FILE`? If it's not under `target/universal/stage/` you will need to include it in the slug like this:

[code]

[2015-02-16 22:15] alternegro commented on #13
Thanks@1indsay & @jkutner .
I'm using 0.3.3 so I think adding the process types in build.sb will be redundant but I'll give that a shot anyway. The config property resolves to *-Dconfig.resource=staging.conf* and I do have target/universal/stage/conf/staging.conf

[2015-02-16 23:32] Voltir opened #14 "Attempting to use deployHeroku with a play-scalajs project"
I am working with a fork of https://github.com/vmunier/play-with-scalajs-example, trying to add the heroku sbt plugin to help facilitate deployments.

I think the problem I am running into is that that project has a non-standard layout. I set herokuSkipSubProjects in Compile to false and then I run into the following error:

[sitejvm] $ deployHeroku
[trace] Stack trace suppressed: run last sitejvm

[2015-02-17 00:06] jkutner commented on #14
First, try setting your web process type like this:

[code]

But you may also need to explicitly include that dir. So add this:

[code]

If that doesn't work, trying logging into your app with `$ heroku run bash`, and inspect the slug with `ls` to see if you need to add any other directories to `herokuIncludePaths`.

If it still does not work after that, I will probably need to tweak the way sbt-h

[2015-02-17 00:18] Voltir commented on #14
Without the hardlink, I get the error java.io.FileNotFoundException: target/universal/stage/bin/sitejvm (No such file or directory)

If I add the hardlink, I get the following:
[error] (sitejvm/compile:deployHeroku) java.io.IOException: There was an error packaging the application for deployment.

Which on inspection, seems to have this root cause:

Caused by: java.nio.file.FileAlreadyExistsExcept

[2015-02-17 02:25] jkutner commented on #14
The connection timeout must happen when downloading the JDK. It's about 60mb. Are you still getting that error? Do you have a slow connection?

[2015-02-17 03:49] alternegro commented on #13
Setting *herokuProcessTypes* in build.sbt made the difference. So running 0.3.3 didn't pick up the Procfile automagically.

[2015-02-17 03:49] #13 closed

[2015-02-17 05:37] jkutner commented on #13
Ah, that's a bug. I've fixed it in version 0.3.4. Thanks for letting us know!

[2015-02-17 05:45] jkutner commented on #14
I was able to get the original project working. But I had to fix a bug in sbt-heroku, so you'll need to upgrade to 0.3.4.  You can see what I did in this Pull Request: https://github.com/vmunier/play-with-scalajs-example/pull/31

[2015-02-17 20:02] Voltir commented on #14
Yay :)

Worked on my branch. This saves me a lot of grief due to compilation timeouts when trying to use git push heroku master... so thank you for the plugin.

[2015-02-18 01:11] Voltir commented on #14
Ok, I have been using it for a more complex app and have run into an occasional problem:

[code]

[2015-02-18 15:00] jkutner commented on #14
You'll probably need to set the heap size for the sbt process a little larger. I use `SBT_OPTS="-Xms512M -Xmx1028M -Xss1M"` by default

[2015-02-26 15:11] DiogoTavaresDeAlmeidaRibeiro opened #15 "Error configuring"
Sorry for the noob question.

I'm trying to configure sbt-heroku but keep getting this error in build.sbt:

    [info] Loading project definition from ...\project
    ....\build.sbt:11: error: not found: value herokuAppName
    herokuAppName in Compile := "appsho3-staging"
    ^
    [error] Type error in expression

My build.sbt

    import play.Project._

    name := "Appsho"

    version := "1.0

[2015-02-26 16:41] jkutner commented on #15
Have you added `addSbtPlugin("com.heroku" % "sbt-heroku" % "0.3.4")` to your `project/plugins.sbt`?

[2015-02-26 17:03] DiogoTavaresDeAlmeidaRibeiro commented on #15
Yes, my plugins.sbt:

    // Comment to get more information during initialization
    logLevel := Level.Warn

    // The Typesafe repository
    resolvers += "Typesafe repository" at "http://repo.typesafe.com/typesafe/releases/"

    // Use the Play sbt plugin for Play projects
    addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.2.6")

    addSbtPlugin("com.heroku" % "sbt-heroku" % "0.3.4")

[2015-02-26 17:05] jkutner commented on #15
What version of sbt are you using? You'll need 0.13.5 or higher

[2015-02-26 17:19] DiogoTavaresDeAlmeidaRibeiro commented on #15
That was it! I was using sbt 0.13.0.

Thanks for your help jkutner

[2015-02-26 17:19] #15 closed

[2015-02-27 11:57] DiogoTavaresDeAlmeidaRibeiro opened #16 "Upload progress"
Is it possible to show some kind of upload progress?

[2015-03-06 14:02] jkutner commented on #14
Closing this. But let me know if you have any further problems.

[2015-03-06 14:02] #14 closed

[2015-03-19 09:47] jgrape opened #17 "imported `HerokuPlugin' is permanently hidden by definition of object HerokuPlugin"
Recently I have started to get warnings from the normal git deploy that refers to the HerokuPlugin.
[code]

The warning is repeated multiple times. The app is built and deployed and seems to work alright, but the warnings don't look good at all.

I'm using the HerokuPlugin to deploy to a staging environment from Jenkins and there the logs look just fine:
[code]

My plugins.sbt:
[code]

[2015-03-19 09:49] jgrape commented on #17
Project source: https://github.com/crispab/signup

[2015-03-19 09:59] jgrape commented on #17
The resolvers addition for the HerokuPlugin looked a bit old fashioned so I removed it from plugins.sbt, but that didn't change anything about the warnings.

[2015-03-19 10:00] jgrape commented on #17
BTW, I get no such warnings when building locally. Never had.

[2015-03-19 10:13] jkutner commented on #17
It looks like the class name of the sbt-heroku plugin (`HerokuPlugin`) is colliding with the [buildpack's `HerokuPlugin` class](https://github.com/heroku/heroku-buildpack-scala/blob/master/opt/HerokuPlugin.scala) (used when running `git push`).  The two methods of deployment, sbt and `git push`, are not really intended to work together -- but there's not reason they can't.

I'll have to investigat

[2015-03-24 20:10] jkutner commented on #17
FYI https://github.com/heroku/heroku-buildpack-scala/commit/aced3007797d6d9ecd9ddd70ba3649f63a0bed6b

[2015-03-24 22:05] jgrape commented on #17
+1

[2015-03-27 09:48] ggmoriyon opened #18 "support for .jdk-overlay folder into the packaged jdk"
First of all, thank you for your great effort. I find this sbt plugin very useful for using jenkins as the way to deploy into Heroku.

Sometimes, there is a need to extend the default jdk bundled in Heroku. For example, when requiring Java JCE in your project.
Heroku enables the jdk customization mechanism to extend the bundled jdk as documented in https://devcenter.heroku.com/articles/customizing

[2015-03-27 09:53] jkutner commented on #18
Yes, makes perfect sense, and should be easy to do. It will increase parity with the buildpack, which is a good thing.

I'll should be able to knock this out very soon, and have a release early next week.

[2015-03-29 22:42] #18 closed

[2015-03-29 22:43] jkutner commented on #18
This will be available in version 0.3.6 (or 0.4.0 because I might bump in this release). I expect to deploy it on Friday.

[2015-03-30 11:53] ggmoriyon commented on #18
that's great news Joe! thanks!

[2015-04-20 13:03] jjstaats commented on #16
Would be nice. The upload does seem to sometimes take much longer than excepted. Maybe a simple time indication between steps so we get a better idea of how long each step can take?

[2015-04-20 14:27] jjstaats commented on #16
I would like to add:
sbt-deploy-test(master)> deployHeroku
[info] ---> Packaging application...
[info]      - app: protected-river-****
[info]      - including: target/universal/stage/
[info]      - installing: OpenJDK 1.7
[info] ---> Creating slug...
[info]      - file: target/heroku/slug.tgz
[info]      - size: 102MB
[info] ---> Uploading slug...
[info]      - stack: cedar-14
[info]      - proce

[2015-04-20 14:32] jkutner commented on #16
Are you deploying from the EU? I think the S3 repo that the slug is uploaded to is in the US -- even if your app is in the EU. I'm going to investigate how we can fix that.

[2015-04-20 16:56] jjstaats commented on #16
My test app was in the US. I created another app in the EU. The upload time was just as long (about 20 minutes).

It seems to be a problem with windows or intellij's terminal because if I deploy from an ubuntu vm (running in virtualbox) both US and EU takes only 3 minutes.

This seems to be a problem on my side and not really something of this project.

So to not go off-topic: +1 the original feat

[2015-04-20 17:00] jkutner commented on #16
@jjstaats thanks for the info. I have seen this same problem on Windows (both from the Terminal and from Eclipse). So I don't think it is Intellij. What version of the JDK are you using locally?

I've already started some work on this feature, so should be available in the near future.

[2015-04-20 17:16] jjstaats commented on #16
@jkutner the project is linked to 1.7.0_51 (64bit) but the system default is 1.8.0_31 (64bit), not sure what parts of intellij (including the buildin terminal) is native and what runs on java.

[2015-04-23 18:59] jkutner commented on #16
progress https://github.com/heroku/heroku-maven-plugin/commit/e3a454bbb5569555af02be06877ec34d0e8eb070

[2015-04-25 03:07] jkutner commented on #16
fixed in 0.3.7

[2015-04-25 03:07] #16 closed

[2015-05-27 12:19] jmaynier opened #19 "herokuJdkUrl does not work"
We want to use the sbt-heroku project to deploy our app using an oracle jdk (because we have R14 and R15 memory issues and we think that oracle jdk can solve that).
We tried to use herokuJdkUrl in our build.sbt file but it seems not to work.
After digging into the code of sbt-heroku we found that it calls the wrong signature methods of deploySlug in heroku-maven-plugin
Bug is in sbt-heroku/src/mai

[2015-05-27 13:27] jkutner commented on #19
Did you try the `deployHerokuSlug` task? That's the only task intended to work with this option (I should clarify that in the docs). Otherwise, are you on version 0.4.2? I think if you back down to 0.3.7 the `herokuJdkUrl` will work. Also, on 0.4.2

In version 0.4.2 with the `deployHeroku` task, the JDK is actually installed on Heroku by a buildpack. It is possible to configure the URL for the bui

[2015-05-27 17:54] ulric260 commented on #19
Thanks for the prompt reply.

We are using sbt-heroku 0.4.2 and deployHerokuSlug.

We get the error:
```java.lang.IllegalArgumentException: Invalid JDK version: http://lang-jvm.s3.amazonaws.com/jdk/openjdk1.8.0_20.tar.gz```

Because jdkUrlOrVersion is a String and not an URL, the wrong deploySlug method is called.

If I modify sbt-heroku/src/main/scala/com/heroku/sbt/HerokuPlugin.scala as follows

[2015-05-27 22:22] jkutner commented on #19
Ok i understand now. Thanks for the info. Ill be looking at this very soon and should have a fix quickly.

The 7u79 jdk is the cedar default, so this might mean that the PATH is not set correctly with the new jdk.

[2015-05-28 03:58] #19 closed

[2015-06-02 01:04] #17 closed

[2015-06-02 01:05] jkutner commented on #19
FYI: this is available in 0.4.2 (we both mistakenly referenced 0.4.2 earlier, but I believe we meant 0.4.1).

[2015-06-15 07:29] adamw opened #21 "Support fat-jar deployments"
Right now it's only possible to deploy applications build using `sbt-native-packager`. Another popular plugin for building release artifacts is `sbt-assembly`, which creates a single, executable fat jar.

With a simple modification the existing plugin may support such scenarios as well. Would you be interested in such a feature? I can try a PR, but would be good to know if it has any chances of be

[2015-06-15 13:18] jkutner commented on #21
Yea, that's definitely something I'd like to support.

[2015-06-18 22:49] paulovictorv opened #22 "Configuration for each deployment env"
I'm wondering if it's possible to have configurations for each deployment env.

My use case is that I have a staging app that takes forever to deploy because it's loading the newrelic jar, which is not really needed on the staging environment.

[2015-06-18 22:53] jkutner commented on #22
You should put the newrelic agent option in JAVA_OPTS, and set that per deployment environment.

[2015-06-18 23:01] jkutner commented on #21
I'm still not sure of the best way to support sbt-assembly natively. But you can get it working with a "stage" task by adding this to your `build.sbt` (note that this *requires* version 0.4.3.1 of sbt-heroku or higher).

[code]

And of course this in `project/plugins.sbt`

[code]

[2015-06-19 12:46] adamw commented on #21
Yeah but that's "hacking" the plugin a bit; there's a hard requirement now for a file called target/universal/stage. In fact currently I just copied the plugin's source and removed that requirement, leaving most of other things intact.

Btw., the root-project-only detection is also broken (at least for my project) as I have a `project` subdirectory in each module.

I wanted to spend some time on t

[2015-06-22 16:05] jkutner commented on #21
Yea, my example is only intended as a workaround. I'm trying to find a way to auto-detect the use of the sbt-assembly plugin, but I don't want to avoid the dir check` when the sbt-native-packager` plugin is in use. I need to make sure it fails nicely if those folks forget to run `stage`.

I'll probably add a way to explicitly tell the plugin that sbt-assembly is being used.

[2015-09-01 07:50] hibou107 opened #23 "deploy multi scala projects"
Hello,
I'm using sbt 0.13.7 and sbt-heroku 0.4.1 to deploy my scala play project to Heroku. The strange thing is that I can deploy the principal project but not the child project (I have 3 projects to be deployed in 3 different servers)
Another strange thing is, my team mate uses the same configuration and he can deploy the project without any problem
Here's  my output: activator deployHeroku -Dap

[2015-09-01 12:49] jkutner commented on #23
@hibou107 without seeing your `build.sbt` it's really difficult to say what's going on. I recommend giving the latest version of sbt-heroku (0.5.1) a try. If that does not work, please open a ticket with [Heroku Support](http://help.heroku.com) so we can better assist you.

[2015-09-01 12:55] hibou107 commented on #23
@jkakar Thanks for your answer. I've already tried the latest version of heroku-sbt but I had the same problem

This is my build.sbt

scalacOptions ++= Seq("-Xmax-classfile-name", "254")

scalacOptions ++= Seq("-unchecked", "-deprecation","-feature")

scalacOptions ++= Seq("-Xlint") //generate warning of type Adapting argument list due to Slik implementation of sql interpolation should be fixe in

[2015-09-01 13:00] jkutner commented on #23
This line doesn't look right, but maybe I need more context:

[code]

Do you have an "app" system property set somewhere? does your colleague?

[2015-09-01 15:19] hibou107 commented on #23
@jkakar Thanks for your answer and time.
Yes I use -Dapp=myapp
And myapp is the name of my Heroku instance
Do you have any clue about this problem ?
Thanks

[2015-09-01 15:23] jkutner commented on #23
I doubt that "myapp" is the name of your Heroku app. Can you double check that? Try running `heroku apps:info -a myapp`. Since we're talking about specific app names, I think you should move this conversation to http://help.heroku.com

[2015-09-01 15:27] hibou107 commented on #23
Hi, This is the output of the command

Git Url:       git@heroku.com:excel-gas-test.git
Web Url:       https://excel-gas-test.herokuapp.com/
Collaborators: ld***
Dynos:         {}
Owner:         nng***
Region:        eu
Repo Size:     0 B
Slug Size:     0 B

[2015-09-01 15:30] jkutner commented on #23
So the name of your app is "excel-gas-test". You can see this at http://dashboard.heroku.com. I'm not sure why the `-a myapp` is ignored. Are you on Windows?

Trying using "excel-gas-test" when you deploy your app. But if you are deploying multiple apps you will need multiple heorku apps. Make sure you have all of those create and configured correctly.

[2015-09-01 16:38] hibou107 commented on #23
@jkakar : I've found the problem. I need to create the folder project inside my sub project

[2015-09-01 17:12] #23 closed

[2015-09-23 17:08] #22 closed

[2015-09-23 19:48] jkutner commented on #21
Fixed in fbdff49b9834d50cebcb45c25782c9a07f1342d9. should be available in 0.5.2

[2015-09-23 19:48] #21 closed

[2015-09-25 11:58] vmunier opened #24 "sbt-heroku adds jQuery to the classpath"
Hello,

It looks like `sbt-heroku` adds jQuery to the classpath.

I came across the issue while using Scala.js with jQuery.

How to reproduce:
- clone the scala-js example repo https://github.com/sjrd/scala-js-example-app
- add `"be.doeraene" %%% "scalajs-jquery" % "0.8.0"` to the `libraryDependencies` https://github.com/sjrd/scala-js-example-app/blob/53d88a4f774a623414d8603825b190ca50942121/build

[2015-09-25 12:48] jkutner commented on #24
I'm not sure what's putting that on the path, but it must be a dependency. Here's the graph:

[code]

Mostly likely culprit would be jackson i guess. I'll investigate.

[2015-09-25 14:00] jkutner commented on #24
The problem seems to be [here in HerokuPlugin](https://github.com/heroku/sbt-heroku/blob/master/src/main/scala/com/heroku/sbt/HerokuPlugin.scala#L86):

[code]

I'm pulling that in to enable the Scala console on Heroku. It would be pretty easy to exclude, but i'm not sure of the best way and it would prevent the console from working on Heroku.

[2015-09-25 14:04] jkutner commented on #24
So this is really annoying. Why does the scala-compiler jar include docs??

[code]

[2015-09-25 14:26] #24 closed

[2015-09-25 14:31] vmunier commented on #24
:+1: Thank you.

[2015-09-25 14:32] jkutner commented on #24
@vmunier i just need to run CI and few integration tests and i'll push out 0.5.3.1 with the fix. thanks for reporting!

[2015-09-25 17:30] jkutner commented on #24
https://bintray.com/heroku/sbt-plugins/sbt-heroku/0.5.3.1/view

[2015-10-13 16:02] eponvert opened #25 "Is it possible for sbt-heroku to work with "Deploy to Heroku" button?"
From what I'm seeing in https://devcenter.heroku.com/articles/heroku-button, it looks like `app.json` expects there to be a source repository, I'm not seeing JVM-style binary deployment supported.

[2015-10-13 17:05] jkutner commented on #25
No, sbt-heroku and heroku-button use two distinct mechanisms for deployment. It is possible to configure an application be deployed in both ways without conflict. But they still use different mechanisms.

What are you hoping to accomplish? Maybe I can offer some other suggestions.

[2015-10-14 18:22] eponvert commented on #25
I'm about to open source an application, which I've configured to be relatively easily deployed to Heroku via sbt-heroku. Just wondering if the deploy button were easily enough added given that set-up. I can probably configure it to deploy via git commit + Procfile as an alternative.

Thanks! Question answered :metal:

[2015-10-14 18:22] #25 closed

[2015-10-14 18:24] jkutner commented on #25
Cool! please share a link to the project when it's ready. I'd be happy to help with the heroku-button part.

[2016-01-19 07:08] liorhar commented on #11
@jkutner can you elaborate on the fix? how with_jmap should be used in conjunction with the sbt-heroku plugin?
I'm trying to prefix the default shell script generated by play with with_jmap but that doesn't work.
Is there any example I can use?

[2016-01-19 15:00] jkutner commented on #11
@liorhar what version of sbt-heroku are you using? The latest (0.5.4) should work with the play sh script. Usage is the same as described here:
https://devcenter.heroku.com/articles/java-memory-issues#generating-heap-dumps-in-the-background

[2016-01-19 15:32] liorhar commented on #11
right, it worked, I was using 0.5.1 thought it contained the fix.
thanks a lot

[2016-01-19 15:35] jkutner commented on #11
I think 0.3.2 contained a partial fix that didn't work quite like the normal buildpack. let us know if you have issues with the newer versions.

[2016-02-01 11:41] hanskoff opened #27 "sbt-assmbly and deployment without heroku-toolbelt"
Hi, I like this plugin very much and it helps, but did you try to deploy fat-jar without heroku-toolbelt? I'm building a ci pipeline and would like to deploy that way, right now calling `HEROKU_API_KEY="xxx-xxx-xxxx" sbt deployHeroku` (without stage doesn't work for me) am I doing smth wrong? is documentation misleading and there is no such a feature?

[2016-02-01 14:27] jkutner commented on #27
Did you build the fat-jar before running `sbt deployHeroku`? The plugin does not build a fat-jar for you, so you must use [sbt-assembly](https://github.com/sbt/sbt-assembly) to do that. You will also need to configure the fat-jar file to deploy, probably like this:

[code]

Here is [an example from a test](https://github.com/heroku/sbt-heroku/blob/master/src/sbt-test/fatjar/minimal/build.sbt#L14).

[2016-02-01 14:29] hanskoff commented on #27
Yeah, I have fatjar built with sbt-assembly
01.02.2016 3:27 PM "Joe Kutner" <notifications@github.com> napisał(a):

[2016-02-01 14:45] jkutner commented on #27
Did you add the `herokuFatJar in Compile` to your `build.sbt`?

What error or behavior are you seeing instead of a successful deploy?

[2016-02-01 15:29] hanskoff commented on #27
I'm sorry you are right, I should have include that log

[code]

and yeah, I've got exactly same line in`build.sbt`

[code]

[2016-02-01 15:32] jkutner commented on #27
Do you have a `heroku` remote in your Git remotes? What is the output when you run `git remote -v`?

If you do not have a Git remote, then you will need to configure the Heroku app name either in your `build.sbt` like this:

[code]
Or as a command-line option as described with [Deploying to Multiple Environments](https://github.com/heroku/sbt-heroku#deploying-to-multiple-environments).

[2016-02-02 08:18] hanskoff commented on #27
Yeah! That was is and it is in the README, excuse me for dump interruption! Your plugin and your job around it are great! Thanks!

[2016-02-02 08:18] #27 closed

[2016-03-31 11:41] hipnoizz opened #28 "Ability to override app name using system property"
The primary use case is deploying to Heroku using CI servers. I want to be able to easily duplicate an existing CI job (or maybe parameterize it) and deploy under whatever Heroku app name without a need to change `build.sbt`. I know that I can put something like `herokuAppName in Compile := sys.props("heroku-app-name")` in `build.sbt` but then I need to put it in every project.

Heroku Maven plugi

[2016-03-31 14:56] jkutner commented on #28
Fixed by 41c41945ea8d1bdacd83d982d1f8fca6bdbaddbd. This will be available in 1.0.1, which should be released later today.

[2016-03-31 14:56] #28 closed

[2016-04-05 18:52] blast-hardcheese opened #29 "deployHeroku task is extremely fragile"
Using scala 2.11.8, configured minimally according to README.

[code]

Dependency graph:
[code]

[2016-04-05 22:51] jkutner commented on #29
Can you share your `build.sbt` or your `project/plugins.sbt`? What JDK version are you using? Your bug report is extremely vague.

It looks like you may have a dependency somewhere on Apache HttpClient 4.0.1 that evicts or (otherwise overrides) the sbt-heroku dependency on Apache HttpClient 4.4. It most likely comes from another plugin.

[2016-04-11 19:08] jkutner commented on #29
Closing. We can reopen if more info is provided.

[2016-04-11 19:08] #29 closed

[2016-05-13 08:50] tel opened #30 "Cyclic dependencies error on extraLoggers when used with lihaoyi/workbench"
I'm getting an error as soon as I declare the `sbt-heroku` plugin (version 1.0.1)

[code]

My build.sbt looks like

[code]

[2016-05-13 12:48] jkutner commented on #30
Can you share the list of other plugins you are including? I think it most likely related to a conflict with one of them, rather than some configuration in your build.

[2016-05-13 13:00] tel commented on #30
Sure, here's plugins.sbt

[code]

[2016-05-13 13:45] tel commented on #30
Based on a quick review, it's the `workbench` plugin which is causing the issues. I'll investigate further.

[2016-05-13 15:48] tel commented on #30
[Here's a relevant part of the definition of `workbenchSettings`](https://github.com/lihaoyi/workbench/blob/master/src/main/scala/workbench/Plugin.scala#L51):

[code]

I'm not right now aware enough of how sbt works to understand why this would be causing the looping issues. For completeness, here's the similar line in `sbt-heroku`

[code]

[2016-05-13 18:24] tel commented on #30
I was able to get it working locally by filtering out the `extraLoggers` key from `workbenchSettings`.

[code]

but this is fairly unsatisfactory.

[2016-05-13 18:28] jkutner commented on #30
Yes, that's not a good long term solution. Thank you provide so much excellent detail on the problem. I will look into fixing it, but the what's causing the cycle is not immediately obvious to me (so I may have to enlist some help from the SBT folks).

[2016-05-13 21:05] tel commented on #30
Np! I've also cross-posted this to lihaoyi/workbench as I'm honestly not sure where a fix ought to happen. Thank you for looking into it!

[2016-05-19 03:30] tel opened #31 "deployHeroku no-ops in CircleCI environment"
Pretty much what the title claims. When trying to use CircleCI to deploy to Heroku with the deployHeroku task I see a complete no-op:

[code]

[2016-05-23 13:18] jkutner commented on #31
does the same command work locally?

[2016-05-23 14:04] tel commented on #31
It does, yes. I'm also double checking that my HEROKU_API_KEY is correctly configured in the build environment.

[2016-05-23 14:07] jkutner commented on #31
A bad api key should cause a specific error message. The other thing would be the appName (do you have that set in the `build.sbt`?). But I would expect appName to error out too.

[2016-05-23 16:04] jkutner commented on #31
Can you try enabling debug logging on Circle CI? I think you can do this by adding `logLevel := Level.Debug` to your `build.sbt`.

[2016-05-23 17:07] tel commented on #31
I tried the log level but and the response was the same: no logs :/

App Name is being set in my build.sbt
On Mon, May 23, 2016 at 12:04 PM Joe Kutner <notifications@github.com>
wrote:

[2016-06-03 17:13] PerWiklander opened #32 "No 'heroku' remote found, though herokuAppName is set."
Deploying works fine, but each run is ended by an IllegalArgumentException.

This is in my build.sbt:
[code]

But I still get this:
[code]

[2016-06-03 19:05] jkutner commented on #32
What version of SBT? Also, what is the exact command you are running (`sbt deployHeroku` or something more complex)?

[2016-06-04 11:36] PerWiklander commented on #32
`sbt.version=0.13.9`
`sbt -DappEnv=staging deployHeroku`

[2016-07-05 08:21] joseraya commented on #31
I had a similar problem with a module and it was due to not having a 'project' folder in my module. According to https://github.com/heroku/sbt-heroku/blob/master/src/main/scala/com/heroku/sbt/HerokuPlugin.scala#L29 you need a 'project' folder under the baseDirectory (that is the directory of your module, not of the whole project).

I tried to set herokuSkipSubProjects to false and it did not work

[2016-07-26 17:55] paulovictorv opened #33 "Error 422 while trying to deploy"
Hello, this is rather a confusing problem.

So earlier today I've successfully released my app. After deploying, I found a bug and needed to deploy a hotfix. However, since the hotfix I'm not able to deploy. The plugin is throwing 422 http error while trying to deploy. The hotfix itself didn't touch with the build process, it was a code change and all my tests are passing. It uploads fine, but whe

[2016-07-26 17:58] jkutner commented on #33
@paulovictorv can you should me the output of the build? Also, can you put `logLevel := Level.Debug` in your `build.sbt` and run again to see if there is any other meaningful output? Thanks.

[2016-07-26 18:05] paulovictorv commented on #33
@jkutner Sure.

There goes the [diagnostics.log](http://pastebin.com/JXqRG4bH).

Here the output with [Level.Debug](http://pastebin.com/pBE9BeA8).

Thanks!

[2016-07-26 18:18] jkutner commented on #33
I can actually reproduce the problem. hang tight. thanks

[2016-07-26 19:00] jkutner commented on #33
@paulovictorv The problem was a change to the Heroku API, which has now been rolled back. Please try again, and I'll be happy to reopen this if you still have problems.

[2016-07-26 19:00] #33 closed

[2016-09-08 16:56] anfuerer opened #34 ".slugignore not taken into account"
As far as I see the .slugignore is ignored. Assets listed in the .slugingore are included in slug.tgz

Example of .slugingore
[code]
Note: I listed it in various combinations to make sure that's not the problem

If I run `sbt deployHeroku` and untar stage.tgz I see that the `resolution-cache` directory is included in the tar file.

[2016-09-08 17:05] jkutner commented on #34
Yea, `.slugignore` is not honored. But I don't think we will use it because the plugin ignores almost everything by default.

The `target/resolution-cache` is [explicitly included in the slug](https://github.com/heroku/sbt-heroku/blob/v1.0.1/src/main/scala/com/heroku/sbt/SbtApp.scala#L129) so there is some metadata about dependencies.

I can add an option to exclude it. Would that work for you?

[2016-09-08 17:14] anfuerer commented on #34
My point is actually not about the `resolution-cache`. This was just my test case.  I'm struggling with the 300MB slug size limit of Heroku and first thought that I have to exclude stuff using the .slugignore. But I now realized that I have to tune on the Play/sbt side. Play seems to include assets multiple times (once in the *-assets.jar and once in *-sans-externalized.jar). I better tune on that

[2016-09-10 07:11] #34 closed

[2016-09-15 09:10] rethab opened #35 "Failed to determine app name when using git worktrees"
hi,

when I try to deploy to heroku, it fails with the below exception.
- it is a multi-module project
- it builds and deploys fine on other machines
- a herokuAppName is set in the top build.sbt (not sure if this is relevant)
- it is a linux machine, and deployments have worked in the past (could be that it stopped working once we started using modules -- though I am not sure about this, I am als

[2016-09-15 14:02] jkutner commented on #35
Do you want to run the plugin on multiple modules (i.e. multiple invocations) or just the top level project?

I think what's happening is that the plugin is attempting to run a second time (after the `[info] -----> Done`), probably on one of the submodules.

[2016-09-15 14:14] rethab commented on #35
No, I don't want it to run on multiple modules.

Please note that it works when the entire project is not in a worktree ;-)

[2016-11-06 21:44] tekacs commented on #29
@jkutner We're also running into this - any chance we can reopen the issue? Happy to provide further details.

In our case, we've tried overriding the dependency with both `force()` and `dependencyOverrides` in `plugins.sbt`, but that hasn't resolved the issue. Any tips?

[2016-11-07 14:40] jkutner commented on #29
@tekacs can you create a sample app/project to reproduce the problem and share it with me?

[2016-11-07 16:21] tekacs commented on #29
Despite trying all sorts of things before, in the process of trying to replicate the bug, I was able to fix it by changing SBT versions - it appears that there was either a bug or incompatibility with the pairing of `sbt-heroku` with sbt version `0.13.13-RC2` that has disappeared in the just-released `0.13.13`.

Hopefully this will help if this ever happens to anyone else, on later SBT versions!

[2016-11-07 16:31] jkutner commented on #29
@tekacs excellent! thank you for sharing your solution.

[2017-02-22 15:41] br-nezasa commented on #32
Any developments on this? I got the same problem on with 'sbt 0.13.13' ,  'herokuSkipSubProjects in Compile ' although it defaults to true,  the plugin is trying to run against subprojects

[2017-02-22 17:00] br-nezasa commented on #32
to anyone having the same problem, althoug herokuSkipSubProjectsis true, if you have a folder named project inside a subproject the plugin will try to run against it.

I just deleted/renamed the folder and problem solved

[2017-02-22 17:02] jkutner commented on #32
@br-nezasa do you have a sample app/repo that I can use to reproduce the problem?

[2017-02-22 17:07] br-nezasa commented on #32
not public, just create a folder named project inside a subproject, you should be able to reproduce

make sure  herokuSkipSubProjects = true

[2017-02-22 19:43] jkutner commented on #32
@br-nezasa I haven't been able to reproduce this (but it's probably just due to my ignorance WRT multi-module sbt projects). If you can provide an example app, it will definitely help me get this done quicker.

Also, is your deploy success despite the error (as mentioned in OP)? Or do you get a failure?

[2017-04-03 08:46] obykoo opened #36 "Redeploy not working"
I have made changes , because of old version mysql on heroku which does not support ebean datetime definitions,but redeploy never show up there. I am always getting same old error...

[2017-04-03 12:51] jkutner commented on #36
Can you share the output of the `sbt deployHeroku` command?

Is there some file you can check by running `heroku run bash` to confirm if the code was deployed to Heroku or not?

[2017-08-08 01:14] xuwei-k opened #38 "support sbt 1.0"

[2017-08-08 01:32] jkutner commented on #38
I don't believe [sbt-native-packager](https://github.com/sbt/sbt-native-packager) has added support for 1.0 yet, and I think I'm going to need to follow on that.

[2017-08-09 15:59] jkutner commented on #38
Whelp, guess it's time to start thinking about this: https://twitter.com/muuki88/status/895020700418936833

[2017-08-14 13:33] jkutner commented on #38
Not able to get very far on this:

[code]

I'm following the pattern of how `crossSbtVersions` is used in `sbt-release` and `sbt-native-packager`, and I've [read the limited documentation](http://www.scala-sbt.org/0.13/docs/sbt-0.13-Tech-Previews.html#sbt+0.13.16). I'm using 0.13.6.

@xuwei-k do you know what I'm missing?

[2017-08-14 13:42] xuwei-k commented on #38
The `crossSbtVersions`  key available since sbt 0.13.**16**, not 0.13.**6**

[2017-08-14 14:04] jkutner commented on #38
@xuwei-k thanks 😜

[2017-08-16 16:30] jkutner commented on #38
working in branch [sbt1](https://github.com/heroku/sbt-heroku/tree/sbt1)

[2017-08-16 16:44] #38 closed

[2018-07-05 15:06] olmaga opened #40 "Did anyone get the Heroku Preview-Apps to run with the deployHeroku of sbt?"
[code]

Help absolutely appreciated :-)

[2018-07-06 13:12] jkutner commented on #40
Is `myapp` the name of your project? I think sbt will generate the `target/universal/stage/bin/` scripts with whatever name is in your `build.sbt`, like:

[code]

[2018-07-08 13:22] olmaga commented on #40
I have this:

`name := "MyApp"
`
could it be upper/lowercase?

[2018-07-09 13:12] jkutner commented on #40
@olmaga i don't know. can you try it lowercase. Also, run `sbt stage` and list the contents of the `target/universal/stage/bin/` to see what the actual file name is.

[2018-07-10 07:40] olmaga opened #41 "Visual bug on customer lineup"
![screen shot 2018-07-10 at 09 40 00](https://user-images.githubusercontent.com/778670/42496078-44fd813a-8425-11e8-80a6-3930c5f114b9.png)

[2018-07-10 07:41] #41 closed

[2018-07-10 07:41] olmaga commented on #41
Sorry - I'm an idiot ;-)

[2018-07-10 13:57] jkutner commented on #40
Oh, Preview Apps probably won't work when using sbt-heroku because the deployment mechanism is quite different. With sbt-heroku, you are deploying pre-compiled artifacts. But Preview Apps pull down your source code and run the Scala buildpack. You can definitely make these work together, but you'll need to ensure your app works with `git push heroku master` too.

[2018-07-10 15:44] olmaga commented on #40
Thx for explaining. We'll go towards this direction then!

[2018-07-10 15:44] #40 closed

[2019-10-15 06:20] tovbinm commented on #32
Create a project with two subprojects:
[code]

While `build.sbt` as follows
[code]

[2019-10-15 18:44] tovbinm commented on #32
I found a workaround by deploying each subproject separately, i.e.
[code]

[2019-12-27 09:49] francisdb opened #42 "syntax error: operand expected (error token is ".")"
Sorry for reporting this here but there is no other way to reach out to the scala team (support ticket) as I have a free heroku app

scala sbt builds on jdk11 hit this bug

https://github.com/paulp/sbt-extras/issues/212
see also https://github.com/sbt/sbt/issues/5342

So I guess Heroku should update it's scala pipeline to use the new sbt-extras?

[2020-01-09 09:58] Malax commented on #42
Hello @francisdb!

Thank you for researching this and bringing this to our attention! This will be fixed soon, see https://github.com/heroku/heroku-buildpack-scala/pull/144

[2020-01-09 10:39] francisdb commented on #42
Great, thanks

[2020-01-15 10:14] Malax commented on #42
This has been fixed and deployed for the `heroku/scala` buildpack.

[2020-01-15 10:14] #42 closed

[2020-01-17 04:16] neilchaudhuri opened #44 "Failure reported by sbt-heroku Despite Build Success"
In my Play Framework (Scala) 2.6.x project, I have the following setup in my plugins.sbt:

[code]

This has worked for a while, but lately when I deploy with sbt-heroku and the build passes, I see this exception in the console:

[code]

Any ideas why?

Thanks.

[2020-01-17 04:44] neilchaudhuri opened #45 "Upgrade to New Stack"
I need to upgrade my Play Framework (Scala) app to the cedar-18 stack, but I use sbt-heroku to deploy. I have not seen any documentation regarding how this can be accomplished. Can you point me to some?

Also, is it possible to reuse addons with the new stack? Or do I need to provision a new database instance and migrate the data there myself?

[2020-01-17 08:25] Malax commented on #45
You can either use [Herokus CLI](https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack#upgrading-an-app) or [the dashboard](https://devcenter.heroku.com/articles/upgrading-to-the-latest-stack#upgrading-via-dashboard) to upgrade to a new stack. `sbt-heroku` itself cannot upgrade your stack.

Your addons are independent of the stack and should continue working. You don't need to provis

[2020-01-17 08:30] Malax commented on #44
Can you share your sbt version or, if possible, an example repo where this issue occurs? You can also try to update `sbt-heroku` to `2.1.2` and see if that fixes your issue.

[2020-01-17 13:10] neilchaudhuri commented on #44
It was `0.13.8`. The weird thing is that it always reported correctly and then didn't, and it was never clear to me what changed (outside of source files).

I will upgrade and see what happens.

[2020-01-17 13:11] neilchaudhuri commented on #45
Glad to hear. Thanks.

[2020-01-17 13:11] #45 closed

[2020-01-19 04:09] neilchaudhuri commented on #44
After upgrading there is no change. The build succeeds, but sbt-heroku reports failure.

[2020-01-20 08:39] Malax commented on #44
I'll take a deeper look to see what might cause this.

[2020-01-20 11:15] Malax commented on #36
I'm closing this due to inactivity. Feel free to comment in case this issue still be relevant for you and I'll reopen it.

[2020-01-20 11:15] #36 closed

[2020-01-20 11:15] Malax commented on #30
I'm closing this due to inactivity. Feel free to comment in case this issue still be relevant for you and I'll reopen it.

[2020-01-20 11:15] #30 closed

[2020-01-21 09:47] Malax commented on #44
I've just updated `sbt-heroku` to `2.1.4` which might fix the issue you're having. Can you confirm?

[2020-01-21 22:48] neilchaudhuri commented on #44
Unfortunately the update didn't help:

[code]

But on the server:

[code]

[2020-01-27 09:48] Malax commented on #44
This looks like Heroku's API does not correctly confirm the deployment worked. Can you run

[code]

and post the output here? It should log the actual response received by the API. Do you happen to run Java 8u101 or lower? Older Java versions [don't have the necessary root certificates](https://bugs.openjdk.java.net/browse/JDK-8154757) to support Let's Encrypt which is used by at least some parts

[2020-01-31 04:14] neilchaudhuri commented on #44
Here is the output you requested:

[code]

[2020-01-31 08:40] Malax commented on #44
@neilchaudhuri Thank you for the log. It seems to be truncated though. There should be sbt-heroku specific output after `[debug] Checking for meta build source updates`. Can you confirm that this is all the output you're getting with the command I posted before?

This is what I get:
[code]

[2020-01-31 14:15] neilchaudhuri commented on #44
Sorry, I used the IntelliJ terminal rather than the real terminal. As the output is too long, I will break it up into two comments:

[code]

[2020-02-03 09:32] Malax commented on #44
@neilchaudhuri In your attached log the deployment seems to work and it is reported as such. You also get the `remote:` logging you did not get before. Did you change anything else?

[2020-02-03 13:44] neilchaudhuri commented on #44
The successful run was in the terminal on my machine. The failing runs occur via IntelliJ Run Configuration. The weird thing is that the the latter used to run perfectly, and I don't know what changed.

Attached is the Run Configuration.
<img width="738" alt="Screen Shot 2020-02-03 at 8 39 26 AM" src="https://user-images.githubusercontent.com/1239158/73657710-d4d8bc80-4660-11ea-91ac-ea862ec33f03.p

[2020-02-05 09:16] Malax commented on #44
@neilchaudhuri The main difference I spot is the very different JDK version. 11.0.5 in your regular terminal session and 1.8.0_31 in IntelliJ. The latter version does not have the required root certificate for LetsEncrypt which is required to view the build output (https://bugs.openjdk.java.net/browse/JDK-8154757) so that explains at least why the build output is missing.

from your initial report

[2020-02-05 14:30] neilchaudhuri commented on #44
I upgraded to the latest JDK 8, and as we suspected that was the problem. Configuring IntelliJ to use the upgraded JDK and then running `sbt-heroku` inside its terminal worked as expected.

The only odd curiosity is that running JDK 11 inside IntelliJ produced a conflict with the old version of SBT I am using currently and ultimately failed, but everything works in the terminal.

Anyway, I will be

[2020-02-05 14:30] #44 closed

[2022-05-29 11:12] FunFunFine opened #60 "Scala 3 Support"
Hey, folks

This plugin fails to work in Scala 3 projects due to the `scala-compiler` dependency being moved to `scala3-compiler`.

One can reproduce it by creating an empty project with any Scala 3 version and adding this plugin:

[code]

Indeed, this artefact [does not exist for that scala version](https://mvnrepository.com/artifact/org.scala-lang/scala-compiler) because it was moved:
<img width